<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Django Page Test</title>
  </head>
  <body>
    <p>&nbsp;</p>
    {% load static %} <img src="test/logo.png" alt="" height="125" width="600">
    <div>
      <p>CISC2500-L01 Information and Data Management</p>
      <p>Evan J. Williams, Instructor</p>
      <p>November 7, 2022</p>
    </div>
    <div>
      <h2>Please enter tte state</h2>
    </div>
    <form action="results" method="post"> {% csrf_token %}
      <label for="state">Choose a State:</label>
  <select id="state" name="state">
    <option value="NY">New York</option>
    <option value="NJ">New Jersey</option>
  </select>
     <input value="OK" type="submit">
    </form>
  </body>
</html>
